.Button {
  cursor: pointer;
  color: var(--primaryColorInverted);
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: var(--primaryColor) 1px solid;
  color: var(--primaryColor);
  background: none;
}
