.Navbar {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 100%;
  height: var(--navbarHeight);
  background-color: var(--bgColorInverted);

  &Links {
    margin-left: auto;
    display: flex;
    column-gap: 16px;
  }
}
